// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-Regular.ttf");
}

// $tablet-width: 768px;
// $desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{850px}) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

// @mixin tablet {
//   @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
//     @content;
//   }
// }

// @mixin desktop {
//   @media (min-width: #{$desktop-width}) {
//     @content;
//   }
// }

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Noto Serif JP', serif;
}

#root {
  position: relative;
}

div {
  box-sizing: border-box;
  flex-shrink: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.isClick {
  cursor: pointer;
}

#cover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow:
    inset 60px 0 120px rgba(0,0,0,0.2),
    inset -60px 0 120px rgba(0,0,0,0.2); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  opacity: 1;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
  #rotate {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    top: 25%;
    @include mobile {
      font-size: 11px;
    }
    @include landscape() {
      display: none;
    }
    img {
      width: 40px;
      height: auto;
      margin-bottom: 5px;
      @include mobile {
        height: auto;
        width: 18px;
      }
    }
  }
  .loading-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 25%;
  }
}
.is-landscape #cover {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

#intro {
  position: relative;
  flex-shrink: 0;
  width: 1000px;
  height: 100%;
  z-index: 1;
  padding-left: 220px;
  @include mobile {
    width: 400px;
    padding-left: 80px;
  }
  p {
    position: absolute;
    top: 35%;
    right: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 1s;
    font-size: 22px;
    @include mobile {
      right: 5px;
      font-size: 10px;
    }
    h1 {
      font-size: 1.8em;
      margin-top: 20px;
      @include mobile {
        margin-top: 15px;
      }
    }
  }
  .rays {
    position: absolute;
    bottom: -140px;
    right: 120px;
    width: 180px;
    height: auto;
    @include mobile {
      width: 80px;
      bottom: -60px;
      right: 60px;
    }
  }
}
.is-init #intro {
  p {
    opacity: 1;
  }
}

#banner {
  position: absolute;
  text-align: end;
  top: 30vh;
  left: 0;
  width: 100vw;
  img {
    width: 80%;
    height: auto;
  }
}
.is-init #banner {
  width: 100%;
  top: 10%;
  transition: all 0.7s ease-in-out 0.8s;
}

#gallery-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  background-image: url("../assets/images/bg-tile.jpg");
  background-size: auto 100%;
  background-repeat: repeat-x;
}

#scroll-content {
  position: relative;
  height: 100%;
  display: inline-flex;
  transition: padding-right 0.5s ease-in-out;
  // overflow-y: hidden;
  #bg-start {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    img {
      height: 100%;
      width: auto;
    }
  }
}

#overlay {
  opacity: 0;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out 2.5s;
  .human {
    opacity: 0.5;
    position: absolute;
  }
  .human-1 {
    bottom: 3vh;
    left: 20vw;
    height: 300px;
    width: auto;
    @include mobile {
      height: 130px;
    }
  }
  .human-2 {
    bottom: 5vh;
    left: 2000px;
    height: 300px;
    width: auto;
    transition: opacity 0.5s ease-in-out 2s;
    @include mobile {
      left: 800px;
      height: 150px;
    }
  }
  .human-3 {
    bottom: 10vh;
    left: 3500px;
    height: 300px;
    width: auto;
    @include mobile {
      left: 1700px;
      height: 130px;
    }
  }
}
.is-landscape #overlay{
  opacity: 1;
}

.content-container {
  flex-shrink: 0;
  position: relative;
  height: 100%;
  pointer-events: none;
  display: inline-flex;
  opacity: 0;
  transition:  opacity 1s ease-in-out;
  padding: 50px 20px 0 20px;
  @include mobile {
    padding: 8px 10px 0 10px;
  }
  .title {
    position: relative;
    img {
      height: 120px;
      width: auto; 
      @include mobile {
        height: 50px;
      }
    }
  }
}
.is-opened .content-container {
  pointer-events: unset;
  opacity: 1;
}

.parallax-element {
  opacity: 0;
  pointer-events: none;
  &.animated {
    opacity: 1;
    pointer-events: unset;
  }
  transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
}

.artist-photo-wrapper {
  flex-shrink: 0;
  position: relative;
  margin-top: 10vh;
  opacity: 0;
  @include mobile {
    margin-top: 10vh;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: object-position 0.5s ease-in-out;
  }
  .artist-photo {
    width: 160px;
    height: 400px;
    @include mobile {
      width: 80px;
      height: 200px;
    }
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.25);
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, transform 1s ease-in-out;
  }
  .photo-credit-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .artist-name {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  &#artist-photo-1 {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out 1.2s;
    width: 400px;
    height: 430px;
    @include mobile {
      width: 176px;
      height: 190px;
    }
    .artist-photo img {
      object-position: 43% 0%;
    }
    .artist-name {
      float: right;
    }
  }
  &#artist-photo-2 {
    width: 400px;
    height: 464px;
    @include mobile {
      width: 173px;
      height: 200px;
    }
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out 1.4s;
    transform: translateY(35px);
    @include mobile {
      transform: translateY(20px);
    }
  }
  &#artist-photo-3 {
    width: 400px;
    height: 500px;
    @include mobile {
      width: 160px;
      height: 200px;
    }
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out 1.6s;
  }
  &#artist-photo-4 {
    width: 400px;
    height: 493px;
    @include mobile {
      width: 163px;
      height: 200px;
    }
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out 1.8s;
    transform: translateY(35px);
    @include mobile {
      transform: translateY(20px);
    }
  }
}
.is-init .artist-photo-wrapper {
  opacity: 1;
}
.is-opened .artist-photo-wrapper {
  transform: unset !important;
  .artist-photo {
    width: 100%;
    height: 100%;
    transform: unset !important;
    img {
      object-position: 50% 50% !important;
    }
  }
  .photo-credit-text {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.6s;
  }
  .artist-name {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.6s;
  }
}
.is-opened #artist-photo-2 {
  .artist-name {
    position: absolute;
    top: -45px;
    @include mobile {
      top: -25px;
    }
  }
}
.is-opened #artist-photo-3 {
  .artist-name {
    margin-top: 20px;
    float: right;
    @include mobile {
      margin-top: 0px;
    }
  }
}
.is-opened #artist-photo-4 {
  .artist-name {
    position: absolute;
    top: -45px;
    left: 0;
    @include mobile {
      top: -25px;
    }
  }
}

.lines-source {
  position: relative;
  .line {
    position: absolute;
    width: 0;
    opacity: 0;
    transition: opacity 1.5s ease-in-out, width 1.5s ease-in-out;
    &.is-drawn {
      width: 100vw;
      opacity: 1;
      transition: opacity 0.5s ease-in-out, width 1.5s ease-in-out;
    }
  }
}

.video-wrapper {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 276px;
  height: 500px;
  @include mobile {
    height: 230px;
    width: 125px;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.story-credit-text {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
  @include mobile {
    font-size: 6px;
    margin-bottom: 3px;
  }
}

.photo-credit-text {
  color: #707070;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  @include mobile {
    font-size: 8px;
  }
}

.artist-name {
  color: black;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  @include mobile {
    font-size: 12px;
  }
}

.photo {
  display: block;
  width: auto;
  height: 120px;
  margin: 0 15px 10px 0;
  cursor: pointer;
  @include mobile {
    height: 50px;
    margin: 0 5px 5px 0;
  }
  &.is-horizontal {
    width: 120px;
    height: auto;
    @include mobile {
      width: 50px;
    }
  }
}

.info-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  // filter: brightness(1.5) saturate(140%);
  padding: 15px 20px;
  @include mobile {
    padding: 0px 12px;
  }
  p {
    font-size: 18px;
    line-height: 1.4;
    margin: 8px 0;
    @include mobile {
      margin: 4px 0;
      font-size: 8px;
    }
  }
}

.learn-more {
  font-family: "Avenir", sans-serif;
  display: inline-block;
  color: white;
  background: linear-gradient(to left, #ED1C24FF 50%,  #ED1C2400 100%);
  font-size: 16px;
  padding: 4px 33px;
  cursor: pointer;
  @include mobile {
    font-size: 9px;
    padding: 2px 15px;
  }
}

.sep-wrapper {
  height: 100%;
  width: 40px;
  .sep {
    border-left: 2px solid black;
    position: absolute;
    width: 40px;
    height: 100%;
    bottom: 0;
    .sep-circle {
      display: flex;
      position: absolute;
      top: -12px;
      left: -8px;
      div {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: black;
        @include mobile {
          width: 16px;
          height: 16px;
          border-radius: 8px;
        }
      }
    }
  }
  &.white {
    .sep {
      border-left: 2px solid white;
    }
    .sep-circle {
      div {
        background-color: white;
      }
    }
  }
}

.light-box {
  z-index: 999;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 90;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, background-color 0s ease-in-out;
  background-color: #EEEEEE;
  &.is-visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out, background-color 0.8s ease-in-out 0.7s;
    background-color: transparent;
    .light-box-background {
      transition: opacity 0.8s ease-in-out 0.3s;
      opacity: 1;
    }
  }
  .title {
    font-weight: 500;
    font-size: 35px;
    line-height: 1.4;
    @include mobile {
      font-size: 19px;
    }
  }
  .light-box-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    opacity: 0;
    transition: unset;
    @include mobile {
      backdrop-filter: blur(40px);
      -webkit-backdrop-filter: blur(40px);
    }
    // filter: brightness(1.3) saturate(120%);
    z-index: -1;
  }
  .light-box-inner {
    width: 100%;
    height: 100%;
    padding: 50px 100px;
    @include mobile {
      padding: 20px 40px;
    }
  }
  .light-box-close-button {
    position: absolute;
    cursor: pointer;
    font-size: 38px;
    top: 15px;
    right: 15px;
    @include mobile {
      font-size: 25px;
      top: 8px;
      right: 8px;
    }
  }
}

.story {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  .row {
    flex: 1;
  }
  .title {
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    height: 100px;
    margin-bottom: 30px;
    @include mobile {
      margin-bottom: 10px;
      height: 50px;
    }
  }
  p {
    margin: 0 0 38px 0;
    font-size: 17px;
    max-width: 400px;
    @include mobile {
      font-size: 10px;
      max-width: 220px;
      margin: 0 0 18px 0;
    }
    h1 {
      margin: 0;
      font-size: 1.3em;
    }
  }
  .story-image {
    height: 100%;
    width: 40%; 
    object-fit: contain;
    object-position: right center;  
  }
  .story-content {
    margin-left: 40px;
    margin-top: 300px;
    padding-right: 300px;
    @include mobile {
      margin-top: 80px;
      margin-left: 25px;
      padding-right: 100px;
    }
  }
  &.full {
    .story-image {
      width: auto;
      max-width: 55%; 
      object-position: left top;  
    }
    .story-content {
      margin-top: 0;
    }
  }
  .label {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 10px;
    @include mobile {
      font-size: 10px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
  .sight-logo {
    height: 60px;
    width: auto;
    @include mobile {
      height: 25px;
    }
  }
  .audio-icon {
    height: 26px;
    margin-left: 10px;
    width: auto;
    @include mobile {
      height: 18px;
      margin-left: 5px;
    }
  }
  .arrow-icon {
    position: absolute;
    top: 50%;
    height: 40px;
    width: auto;
    cursor: pointer;
    @include mobile {
      height: 20px;
    }
    &.arrow-icon-left {
      left: 20px;
      transform: translateY(-50%) scaleX(-1);
    }
    &.arrow-icon-right {
      right: 20px;
      transform: translateY(-50%);
    }
  }
}

.audio-player {
  display: flex;
  align-items: center;
  transform: translateX(-6px);
  @include mobile {
    transform: translateX(-3px);
  }
  .play-button {
      width: 55px;
      height: 55px;
      font-size: 55px;
      cursor: pointer;
      @include mobile {
      width: 24px;
      height: 24px;
      font-size: 24px;
      }
      svg {
      position: absolute;
      }
  }
  .audio-time {
      font-size: 16px;
      color: #5c5454;
      font-family: "Helvetica Neue", Arial, sans-serif;
      margin: 0 11px 0 6px;
      @include mobile {
      font-size: 10px;
      margin: 0 8px 0 4px;
      }
  }
  .audio-track {
      position: relative;
      display: flex;
      align-items: center;
      width: 220px;
      @include mobile {
      width: 100px;
      }
  }
  .audio-progress {
      cursor: pointer;
      pointer-events: none;
      position: absolute;
      background-color: black;
      width: 0;
      height: 11px;
      @include mobile {
          height: 8px;
      }
  }
  .audio-slider {
      -webkit-appearance: none;
      border-radius: 0;
      margin: 0;
      height: 6px;
      width: 100%;
      background-color: #a1a1a1;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    .audio-slider:hover {
      opacity: 1;
    }
    
    .audio-slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      width: 10px;
      height: 11px;
      background-color: transparent;
      cursor: pointer;
    }
    
    .audio-slider::-moz-range-thumb {
      border: none;
      width: 10px;
      height: 11px;
      background-color: transparent;
      cursor: pointer;
  }
}

.audio-button-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
  @include mobile {
    font-size: 9px;
    padding: 5px;
  }
  .audio-button-label {
    font-family: 'Noto Sans TC', sans-serif;
  }
  .audio-button-icon {
    height: 35px;
    margin-top: 5px;
    width: auto;
    @include mobile {
      height: 15px;
      margin-top: 2px;
    }
  }
}

#content-1 {
  .title {
    margin-top: 30px;
    @include mobile {
      margin-top: 3vh;
    }
    img {
      @include mobile {
        height: 35px;
      }
    }
  }
  .story-credit-text{
    margin-top: -12spx;
    @include mobile {
      margin-top: -8px;
    }
  }
  .info-box {
    margin-top: -25px;
    @include mobile {
      margin-top: -10px;
    }
    img {
      position: absolute;
      width: auto;
      @include mobile {
        height: 100px;
      }
      height: 250px;
      z-index: 100;
    }
    .row > p {
      margin-right: 40px;
      margin-bottom: 50px;
      @include mobile {
        margin-right: 20px;
        margin-bottom: 5px;
      }
    }
  }
  .video-wrapper {
    margin-left: 5px;
    @include mobile {
      margin-left: -50px;
    }
  }
}

#content-2 {
  .title {
    z-index: 10;
    margin-top: 15px;
    @include mobile {
      margin-top: 5px;
    }
    img {
      @include mobile {
        height: 38px;
      }
    }
  }
  .column > div:nth-child(2) {
    margin-left: 50px;
    @include mobile {
      margin-left: 10px;
    }
  };
  .story-credit-text {
    position: relative;
    z-index: 10;
    @include mobile {
      margin-top: -10px;
    }
  }
  .info-box {
    margin-top: -115px;
    padding: 110px 70px 30px 40px;
    @include mobile {
      margin-top: -80px;
      padding: 80px 30px 10px 20px;
    }
    .row > p {
      margin-right: 40px;
      margin-bottom: 50px;
      @include mobile {
        margin-right: 20px;
        margin-bottom: 5px;
      }
    }
    .feature {
      min-width: 250px;
      position: absolute;
      left: 400px;
      @include mobile {
        min-width: 150px;
        left: 200px;
        top: -15px;
      }
      img {
        position: absolute;
        width: auto;
        @include mobile {
          height: 100px;
        }
        height: 250px;
        z-index: 100;
      }
    }
  }
  .video-wrapper {
    margin-left: 30px;
    @include mobile {
      margin-left: 20px;
    }
  }
}

#content-3 {
  .title {
    margin-top: 15px;
    margin-left: 60px;
    @include mobile {
      margin-top: 3px;
      margin-left: 35px;
    }
    img {
      height: 98px;
      @include mobile {
        height: 40px;
      }
    }
  }
  .info-box {
    margin-left: 25px;
    margin-top: 20px;
    @include mobile {
      margin-left: 15px;
      margin-top: 8px;
    }
    .story-credit-text{
      font-size: 12px;
      transform: translateX(-15px);
      @include mobile {
        font-size: 7px;
        transform: translateX(-5px);
      }
    }
    .photo-container{
      margin-left: 100px;
      transform: translateY(-60px);
      @include mobile {
        margin-left: 60px;
        transform: translateY(-30px);
      }
    }
    .photo-container-1 .photo {
      margin-left: auto;
    }
    .photo-container-2 {
      transform: translateY(-50px);
      @include mobile {
        transform: translateY(-20px);
      }
    }
    .audio-button-container {
      margin-top: auto;
      margin-bottom: 80px;
      margin-left: -40px;
      margin-right: 40px;
      @include mobile {
        margin-bottom: 40px;
        margin-left: -20px;
        margin-right: 10px;
      }
    }
    .feature {
      position: absolute;
      left: 300px;
      bottom: -200px;
      @include mobile {
        left: 150px;
        bottom: -35px;
      }
      p {
        margin: 0;
      }
      .feature-photo {
        width: auto;
        @include mobile {
          height: 80px;
        }
        height: 250px;
        z-index: 100;
      }
      .audio-button-container { 
        margin: unset;
      }
    }
  }
}

#content-4 {
  .title {
    img {
      @include mobile {
        height: 50px;
      }
    }
  }
  .story-credit-text {
    font-size: 12px;
    transform: translateY(-8px);
    @include mobile {
      transform: translateY(-4px);
      font-size: 6px;
    }
  }
  .row-2 {
    margin-left: 80px;
    @include mobile {
      margin-left: 40px;
    }
  }
  .info-box {
    padding-bottom: 40px;
    @include mobile {
      padding-bottom: 15px;
    }
    .feature {
      margin-top: -30px;
      height: 10px;
      @include mobile {
        margin-top: -15px;
      }
      img {
        width: auto;
        @include mobile {
          height: 140px;
        }
        height: 350px;
      }
    }
    .audio-button-container {
      margin-top: auto;
    }
  }
}

#content-dl {
  padding: 0px 20px;
  background-image: url('../assets/images/dl-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 15px;
  @include mobile {
    font-size: 9px;
  }
  .sep-outer {
    position: absolute;
    height: 70%;
    bottom: 0;
    z-index: 99;
    left: 80px;
    @include mobile {
      left: 50px;
    }
  }
  .dl-logo {
    height: 80px;
    width: auto;
    @include mobile {
      height: 50px;
    }
  }
  .dl-bg {
    height: 100%;
    width: auto;
  }
  .column {
    position: relative;
    justify-content: center;
    margin: 0 80px;
    @include mobile {
      margin: 0 40px;
    }
  }
  h1 {
    font-weight: 300;
  }
  p {
    line-height: 1.5;
    @include mobile {
      line-height: 1.1;
    }
  }
  .paragraph {
    width: 400px;
    @include mobile {
      width: 300px;
    }
  }
  .moment-of-purpose {
    img {
      width: 600px;
      height: auto;
      transform: translateX(50px);
      margin-bottom: 40px;
      @include mobile {
        width: 270px;
        margin-bottom: 20px;
        transform: translateX(50px);
      }
    }
    font-size: 18px;
    @include mobile {
      font-size: 10px;
    }
    h1 {
      margin: 1.3em 0 0.5em 0;
      font-weight: bold;
    }
    h5 {
      margin: 0;
      font-weight: 400;
      font-size: 1.3em;
    }
  }
}

#content-dbs {
  padding-left: 180px;
  padding-right: 400px;
  padding-top: 70px;
  @include mobile {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 180px;
  }
  .title img{
    height: 100px;
    @include mobile {
      height: 40px;
    }
  }
  .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 95%;
    width: 730px;
    object-fit: cover;
    @include mobile {
      width: 380px;
    }
  }
  .dbs-feature {
    position: relative;
    margin-right: 55px;
    @include mobile {
      margin-right: 30px;
    }
    .dbs-feature-img {
      img {
        height: 360px;
        width: auto;
        @include mobile {
          height: 180px;
        }
      }
    }
    p {
      color: white;
      font-size: 24px;
      margin: 12px 0;
      @include mobile {
        font-size: 14px;
        margin: 6px 0;
      }
    }
  }
  .info-box {
    margin-top: 60px;
    transform: translateX(-80px);
    padding: 15px 80px;
    @include mobile {
      margin-top: 15px;
      transform: translateX(-50px);
      padding: 10px 50px;
    }
    p {
      width: 550px;
      @include mobile {
        width: 280px;
      }
    }
  }
  .row {
    position: relative;
  }
  .contact-us {
    p {
      font-size: 25px;
      @include mobile {
        font-size: 12px;
      }
    }
    a {
      color: black;
    }
  }
}

#content-dbs-album {
  padding-top: 20px;
  font-size: 80px;
  @include mobile {
    font-size: 30px;
    padding-top: 3px;
  }
  .title {
    line-height: 1.7;
    color: white;
    font-size: 20px;
    margin-top: -15px;
    @include mobile {
      font-size: 8px;
      margin-top: -10px;
    }
    h1 {
      color: black;
      margin: 0;
      font-weight: 600;
      font-size: 24px;
      @include mobile {
        font-size: 10px;
      }
    }
    a {
      text-decoration: unset;
    }
  }
  .photos-container {
    position: relative;
  }
  .dbs-banner {
    position: relative;
    height: 100px;
    width: auto;
    @include mobile {
      height: 46px;
    }
  }
  .photo {
    cursor: unset;
    height: auto;
    width: auto;
    margin: 15px 10px;
    @include mobile {
      margin: 8px 4px;
    }
  }
  .red-gradient {
    position: absolute;
    top: 55px;
    left: -70px;
    width: 1800px; 
    height: 600px;
    @include mobile {
      top: 12px;
      left: -30px;
      width: 900px; 
      height: 300px;
    }
    // height: 1.5em;
    // background: linear-gradient(to left, #FF2D30FF 0%,  #ED1C2400 100%);
    // &.is-flip{
    //   transform: scaleX(-1);
    // }
  }
  .caption {
    font-size: 14px;
    @include mobile {
      font-size: 8px;
    }
  }
  .row {
    pointer-events: none;
  }
  a {
    pointer-events: auto;
  }
}

#content-org {
  padding-left: 0 200px 0 150px;
  @include mobile {
    padding-left: 0 150px 0 70px;
  }
  .flex-fill {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  .app-info {
    position: relative;
    height: 85.17%;
    .org {
      color: white;
    }
    img {
      position: relative;
      height: 100%;
      width: auto;
    }
    .row {
      align-items: center;
      margin: 5px 0;
    }
    p {
      color: white;
      font-size: 20px;
      @include mobile {
        font-size: 14px;
      }
    }
    .download {
      p {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 25px;
        margin-bottom: 8px;
        @include mobile {
          font-size: 12px;
          margin-bottom: 0px;
        }
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      .download-button {
        margin: 0 2px;
        width: 150px;
        height: 44px;
        @include mobile {
          width: 70px;
          height: 24px;
        }
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      .download-ios {
        background-image: url("../assets/images/download-ios.png");
      }
      .download-android {
        background-image: url("../assets/images/download-android.png");
      }
      a {
        color: white;
        text-decoration: unset;
        font-size: 20px;
        @include mobile {
          font-size: 10px;
        }
      }
    }
  }
  .sight {
    position: relative;
    height: 85.17%;
    .org {
      color: white;
    }
    img {
      height: 100%;
      width: auto;
    }
  }
  .org {
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    --offset: -300;
    @include mobile {
      width: 200px;
      --offset: -250;
    }
    @include mobile {
      font-size: 10px;;
    }
    .org-logo-wrapper {
      height: 140px;
      @include mobile {
        height: 90px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: auto;
        width: auto;
      }
    }
    .dl-text {
      @include mobile {
        margin-top: -15px;
      }
    }
  }
  .org-wrapper {
    height: 85.17%;
    display: flex;
    align-items: center;
  }
}

#content-end {
  padding: 0 400px 0 200px;
  align-items: center;
  font-size: 35px;
  @include mobile {
    font-size: 20px;
    padding: 0 300px 0 100px;
  }
  & > div {
    margin-left: -50px;
    @include mobile {
      margin-left: -30px;
    }
  }
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  @include mobile {
    transform: scale(0.6);
  }
}
.loading div {
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loading div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #AAAAAA;
  margin: -4px 0 0 -4px;
}
.loading div:nth-child(1) {
  animation-delay: -0.036s;
}
.loading div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loading div:nth-child(2) {
  animation-delay: -0.072s;
}
.loading div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loading div:nth-child(3) {
  animation-delay: -0.108s;
}
.loading div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loading div:nth-child(4) {
  animation-delay: -0.144s;
}
.loading div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loading div:nth-child(5) {
  animation-delay: -0.18s;
}
.loading div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loading div:nth-child(6) {
  animation-delay: -0.216s;
}
.loading div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loading div:nth-child(7) {
  animation-delay: -0.252s;
}
.loading div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loading div:nth-child(8) {
  animation-delay: -0.288s;
}
.loading div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
