@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-Book.ttf");
}
html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Noto Serif JP", serif;
}

#root {
  position: relative;
}

div {
  box-sizing: border-box;
  flex-shrink: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
}

.vertical-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.horizontal-margin {
  margin-right: 20px;
  margin-left: 20px;
}

#cover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: inset 60px 0 120px rgba(0, 0, 0, 0.2), inset -60px 0 120px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  opacity: 1;
  z-index: 99;
  transition: opacity 0.5s ease-in-out;
}

.is-landscape #cover {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out 1s;
}

#intro {
  position: relative;
  width: 60vw;
  height: 100%;
  z-index: 1;
  padding-left: 220px;
}
@media (max-width: 850px) {
  #intro {
    width: 400px;
    padding-left: 80px;
  }
}
#intro p {
  position: absolute;
  top: 30%;
  left: 28%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 2.5s;
  font-size: 24px;
}
@media (max-width: 850px) {
  #intro p {
    top: 28%;
    font-size: 12px;
  }
}
#intro p h1 {
  font-size: 1.6em;
  margin-top: 20px;
}
@media (max-width: 850px) {
  #intro p h1 {
    margin-top: 15px;
  }
}
#intro .rays {
  position: absolute;
  bottom: -70px;
  right: -70px;
  width: 150px;
  height: auto;
}
@media (max-width: 850px) {
  #intro .rays {
    width: 80px;
    bottom: -40px;
    right: -40px;
  }
}

.is-landscape #intro p {
  opacity: 1;
}

#banner {
  position: absolute;
  text-align: end;
  top: 30vh;
  left: 0;
  width: 100vw;
  transition: all 0.7s ease-in-out 2s;
}
#banner img {
  width: 80%;
  height: auto;
}

.is-landscape #banner {
  width: 100%;
  top: 10%;
}

#gallery-container {
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

#scroll-content {
  position: relative;
  height: 100%;
  display: inline-flex;
  background-image: url("../assets/images/bg_tile.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  min-width: 12000px;
  transition: padding-right 0.5s ease-in-out;
}
#scroll-content #bg-start {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#scroll-content #bg-start img {
  height: 100%;
  width: auto;
}

.is-opened #scroll-content {
  min-width: unset;
}

.content-container {
  position: relative;
  height: 100%;
  pointer-events: none;
  display: inline-flex;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  padding: 50px 20px 0 20px;
}
@media (max-width: 850px) {
  .content-container {
    padding: 8px 10px 0 10px;
  }
}

.is-opened .content-container {
  pointer-events: unset;
  opacity: 1;
}

.parallax-element {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
}
.parallax-element.animated {
  opacity: 1;
}

.feature-image-wrapper {
  position: relative;
  width: 160px;
  height: 400px;
  margin-top: 10vh;
  opacity: 0;
}
@media (max-width: 850px) {
  .feature-image-wrapper {
    width: 90px;
    height: 225px;
  }
}
.feature-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-image-wrapper > div {
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease-in-out;
}
.feature-image-wrapper#feature-image-1 {
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, transform 0.5s ease-in-out, opacity 0.5s ease-in-out 2.4s;
}
.feature-image-wrapper#feature-image-1 img {
  object-position: 42% 0%;
}
.feature-image-wrapper#feature-image-2 {
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, transform 0.5s ease-in-out, opacity 0.5s ease-in-out 2.6s;
}
.feature-image-wrapper#feature-image-2 > div {
  transform: translateY(35px);
}
@media (max-width: 850px) {
  .feature-image-wrapper#feature-image-2 > div {
    transform: translateY(20px);
  }
}
.feature-image-wrapper#feature-image-2 img {
  object-position: 48% 50%;
}
.feature-image-wrapper#feature-image-3 {
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, transform 0.5s ease-in-out, opacity 0.5s ease-in-out 2.8s;
}
.feature-image-wrapper#feature-image-4 {
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, transform 0.5s ease-in-out, opacity 0.5s ease-in-out 3s;
}
.feature-image-wrapper#feature-image-4 > div {
  transform: translateY(35px);
}
@media (max-width: 850px) {
  .feature-image-wrapper#feature-image-4 > div {
    transform: translateY(20px);
  }
}

.is-landscape .feature-image-wrapper {
  opacity: 1;
}

.is-opened .feature-image-wrapper {
  transform: unset !important;
  width: 450px;
  height: 360px;
}
@media (max-width: 850px) {
  .is-opened .feature-image-wrapper {
    width: 250px;
    height: 200px;
  }
}
.is-opened .feature-image-wrapper > div {
  transform: unset !important;
}

.is-opened #feature-image-1 {
  width: 360px;
  height: 430px;
}
@media (max-width: 850px) {
  .is-opened #feature-image-1 {
    width: 176px;
    height: 210px;
  }
}

.lines-source {
  position: relative;
}
.lines-source .line {
  position: absolute;
  width: 0;
  opacity: 0;
  transition: opacity 1.5s ease-in-out, width 1.5s ease-in-out;
}
.lines-source .line.is-drawn {
  width: 100vw;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, width 1.5s ease-in-out;
}

.video-wrapper {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 276px;
  height: 500px;
}
@media (max-width: 850px) {
  .video-wrapper {
    height: 230px;
    width: 125px;
  }
}
.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  position: relative;
  font-size: 38px;
  line-height: 1.25;
  margin-bottom: 8px;
}
@media (max-width: 850px) {
  .title {
    font-size: 20px;
    margin-bottom: 3px;
  }
}

.storyCreditText {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
}
@media (max-width: 850px) {
  .storyCreditText {
    font-size: 6px;
    margin-bottom: 3px;
  }
}

.photoCreditText {
  color: #707070;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
}
@media (max-width: 850px) {
  .photoCreditText {
    font-size: 8px;
  }
}

.photo {
  display: block;
  width: auto;
  height: 110px;
  margin: 0 15px 10px 0;
}
@media (max-width: 850px) {
  .photo {
    height: 58px;
    margin: 0 5px 5px 0;
  }
}
.photo.isHorizontal {
  width: 110px;
  height: auto;
}
@media (max-width: 850px) {
  .photo.isHorizontal {
    width: 58px;
  }
}

.info-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 15px 20px;
}
@media (max-width: 850px) {
  .info-box {
    padding: 5px 15px;
  }
}
.info-box p {
  font-size: 18px;
  line-height: 1.4;
  margin: 8px 0;
}
@media (max-width: 850px) {
  .info-box p {
    margin: 4px 0;
    font-size: 9px;
  }
}

.learn-more {
  display: inline-block;
  font-family: "Avenir";
  color: white;
  background: linear-gradient(to left, #ED1C24FF 50%, #ED1C2400 100%);
  font-size: 16px;
  padding: 4px 33px;
  cursor: pointer;
}
@media (max-width: 850px) {
  .learn-more {
    font-size: 9px;
    padding: 2px 15px;
  }
}

.audio {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  bottom: 40px;
  padding: 10px;
  cursor: pointer;
}
.audio .audio-label {
  font-size: 14px;
}
@media (max-width: 850px) {
  .audio .audio-label {
    font-size: 12px;
  }
}
.audio .audio-icon {
  background-image: url("../assets/icons/icon-audio.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}
@media (max-width: 850px) {
  .audio .audio-icon {
    width: 30px;
    height: 30px;
  }
}

.sep {
  border-left: 2px solid black;
  margin-top: auto;
  height: 95%;
  width: 40px;
  position: relative;
}
.sep .sep-circle {
  display: flex;
  position: absolute;
  top: -12px;
  left: -8px;
}
.sep .sep-circle div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
}
@media (max-width: 850px) {
  .sep .sep-circle div {
    width: 16px;
    height: 16px;
    border-radius: 8px;
  }
}

.org {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  --offset: -300;
}
@media (max-width: 850px) {
  .org {
    width: 200px;
    --offset: -250;
  }
}
.org .logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 850px) {
  .org .logo {
    transform: scale(0.5);
  }
}
.org #dbs-logo {
  background-image: url("../assets/images/moko_logo.png");
  height: 120px;
  width: 200px;
}
.org #warner-logo {
  background-image: url("../assets/images/moko_logo.png");
  height: 120px;
  width: 200px;
}
.org #moko-logo {
  background-image: url("../assets/images/moko_logo.png");
  height: 120px;
  width: 200px;
}
.org #hkgda-logo {
  background-image: url("../assets/images/moko_logo.png");
  height: 120px;
  width: 200px;
}

.light-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 90;
  top: 0;
  height: 100%;
  width: 100%;
}
.light-box .light-box-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  z-index: -1;
}
@media (max-width: 850px) {
  .light-box .light-box-background {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
  }
}
.light-box .light-box-inner {
  width: 100%;
  height: 100%;
  padding: 50px 100px;
}
@media (max-width: 850px) {
  .light-box .light-box-inner {
    padding: 20px 40px;
  }
}
.light-box .light-box-close-button {
  position: absolute;
  cursor: pointer;
  font-size: 38px;
  top: 15px;
  right: 15px;
}
@media (max-width: 850px) {
  .light-box .light-box-close-button {
    font-size: 25px;
    top: 8px;
    right: 8px;
  }
}

.feature-story {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.feature-story .row {
  flex: 1;
}
.feature-story .title {
  font-weight: 600;
  line-height: 1.5;
}
.feature-story p {
  margin: 0 0 38px 0;
  font-size: 17px;
  max-width: 400px;
}
@media (max-width: 850px) {
  .feature-story p {
    font-size: 12px;
    max-width: 200px;
    margin: 0 0 18px 0;
  }
}
.feature-story p h1 {
  margin: 0;
  font-size: 1.3em;
}
.feature-story .feature-story-image {
  width: auto;
  max-width: 55%;
  height: 200px;
  object-fit: contain;
  object-position: left top;
}
.feature-story .feature-story-content {
  margin-left: 40px;
}
@media (max-width: 850px) {
  .feature-story .feature-story-content {
    margin-left: 25px;
  }
}

.audio-player {
  display: flex;
  align-items: center;
  transform: translateX(-6px);
}
@media (max-width: 850px) {
  .audio-player {
    transform: translateX(-3px);
  }
}
.audio-player .audio-button {
  width: 55px;
  height: 55px;
  font-size: 55px;
  cursor: pointer;
}
@media (max-width: 850px) {
  .audio-player .audio-button {
    width: 35px;
    height: 35px;
    font-size: 35px;
  }
}
.audio-player .audio-button svg {
  position: absolute;
}
.audio-player .audio-time {
  font-size: 16px;
  color: #5c5454;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0 11px 0 6px;
}
@media (max-width: 850px) {
  .audio-player .audio-time {
    font-size: 13px;
    margin: 0 8px 0 4px;
  }
}
.audio-player .audio-track {
  background-color: #a1a1a1;
  display: flex;
  align-items: center;
  height: 6px;
  width: 220px;
}
@media (max-width: 850px) {
  .audio-player .audio-track {
    width: 100px;
    height: 4px;
  }
}
.audio-player .audio-progress {
  background-color: black;
  width: 0;
  height: 11px;
}
@media (max-width: 850px) {
  .audio-player .audio-progress {
    height: 8px;
  }
}

#content-1 .title {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 30px;
}
@media (max-width: 850px) {
  #content-1 .title {
    font-size: 28px;
    margin-bottom: 4px;
    margin-top: 3vh;
  }
}
#content-1 .info-box {
  margin-top: -25px;
}
@media (max-width: 850px) {
  #content-1 .info-box {
    margin-top: -10px;
  }
}
#content-1 .info-box img {
  position: absolute;
  width: auto;
  height: 250px;
  z-index: 100;
}
@media (max-width: 850px) {
  #content-1 .info-box img {
    height: 100px;
  }
}
#content-1 .info-box p {
  margin-right: 40px;
}
@media (max-width: 850px) {
  #content-1 .info-box p {
    margin-right: 20px;
  }
}
#content-1 .video-wrapper {
  margin-left: 100px;
}
@media (max-width: 850px) {
  #content-1 .video-wrapper {
    margin-left: 35px;
  }
}

#content-2 .title {
  margin-top: 15px;
}
@media (max-width: 850px) {
  #content-2 .title {
    margin-top: 5px;
  }
}
#content-2 .info-box {
  margin-top: -25px;
  padding-right: 70px;
}
@media (max-width: 850px) {
  #content-2 .info-box {
    margin-top: -10px;
    padding-right: 30px;
  }
}
#content-2 .info-box p {
  margin-bottom: 30px;
}
@media (max-width: 850px) {
  #content-2 .info-box p {
    margin-bottom: 3px;
  }
}
#content-2 .info-box .feature {
  min-width: 250px;
  position: absolute;
  left: 400px;
}
@media (max-width: 850px) {
  #content-2 .info-box .feature {
    min-width: 150px;
    left: 200px;
  }
}
#content-2 .info-box .feature img {
  position: absolute;
  width: auto;
  height: 250px;
  z-index: 100;
}
@media (max-width: 850px) {
  #content-2 .info-box .feature img {
    height: 100px;
  }
}
#content-2 .video-wrapper {
  margin-left: 200px;
}
@media (max-width: 850px) {
  #content-2 .video-wrapper {
    margin-left: 40px;
  }
}

#content-3 {
  opacity: 1;
}
#content-3 .title {
  margin-top: 15px;
}
@media (max-width: 850px) {
  #content-3 .title {
    margin-top: 3px;
  }
}
#content-3 .info-box {
  margin-left: 25px;
}
@media (max-width: 850px) {
  #content-3 .info-box {
    margin-left: 15px;
  }
}
#content-3 .info-box .storyCreditText {
  font-size: 12px;
  transform: translateX(-15px);
}
@media (max-width: 850px) {
  #content-3 .info-box .storyCreditText {
    font-size: 7px;
    transform: translateX(-5px);
  }
}
#content-3 .info-box .photo-container-1 .photo {
  margin-left: auto;
}
#content-3 .info-box .photo-container-2 {
  transform: translateY(-50px);
}
@media (max-width: 850px) {
  #content-3 .info-box .photo-container-2 {
    transform: translateY(-20px);
  }
}
#content-3 .info-box .feature {
  position: absolute;
  left: 100px;
}
#content-3 .info-box .feature p {
  margin: 0;
}
#content-3 .info-box .feature img {
  width: auto;
  height: 250px;
  z-index: 100;
}
@media (max-width: 850px) {
  #content-3 .info-box .feature img {
    height: 80px;
  }
}

#content-4 .storyCreditText {
  font-size: 12px;
  transform: translateY(-8px);
}
@media (max-width: 850px) {
  #content-4 .storyCreditText {
    transform: translateY(-4px);
    font-size: 6px;
  }
}
#content-4 .row-2 {
  margin-left: 80px;
}
@media (max-width: 850px) {
  #content-4 .row-2 {
    margin-left: 40px;
  }
}
#content-4 .info-box .feature {
  position: absolute;
  left: 300px;
  top: -30px;
}
@media (max-width: 850px) {
  #content-4 .info-box .feature {
    left: 160px;
    top: -15px;
  }
}
#content-4 .info-box .feature img {
  width: auto;
  height: 350px;
}
@media (max-width: 850px) {
  #content-4 .info-box .feature img {
    height: 180px;
  }
}

#content-dbs .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 95%;
  width: auto;
}
#content-dbs .dbs-feature {
  position: relative;
}
#content-dbs .dbs-feature img {
  height: 400px;
  width: auto;
}
#content-dbs .dbs-feature p {
  color: white;
}
#content-dbs .info-box p {
  width: 650px;
  margin: 20px 80px;
}
@media (max-width: 850px) {
  #content-dbs .info-box p {
    width: 350px;
    margin: 10px 20px;
  }
}
#content-dbs .row {
  position: relative;
}
#content-dbs .contact-us p {
  font-size: 25px;
}

#content-dbs-album {
  font-size: 80px;
}
@media (max-width: 850px) {
  #content-dbs-album {
    font-size: 37px;
  }
}
#content-dbs-album .title {
  font-size: 25px;
  margin-top: -15px;
}
@media (max-width: 850px) {
  #content-dbs-album .title {
    font-size: 14px;
    margin-top: -10px;
  }
}
#content-dbs-album .photos-container {
  position: relative;
  margin: 70px 10px 0 10px;
}
@media (max-width: 850px) {
  #content-dbs-album .photos-container {
    margin: 40px 5px 0 5px;
  }
}
#content-dbs-album .dbs-banner {
  height: 100px;
  width: auto;
}
@media (max-width: 850px) {
  #content-dbs-album .dbs-banner {
    height: 50px;
  }
}
#content-dbs-album .photo {
  object-fit: cover;
  margin: 15px 10px;
}
@media (max-width: 850px) {
  #content-dbs-album .photo {
    margin: 8px 4px;
  }
}
#content-dbs-album .red-gradient {
  position: absolute;
  height: 1.5em;
  background: linear-gradient(to left, #FF2D30FF 0%, #ED1C2400 100%);
}
#content-dbs-album .red-gradient.is-flip {
  transform: scaleX(-1);
}

#content-5 .heading {
  height: 60px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}
@media (max-width: 850px) {
  #content-5 .heading {
    height: 20px;
    font-size: 20px;
  }
}
#content-5 .heading img {
  height: 100%;
  width: auto;
  margin-right: 5px;
}
#content-5 .info-box {
  position: absolute;
  bottom: 15vh;
  right: 0;
  padding-right: 80px;
  padding-bottom: 100px;
}
@media (max-width: 850px) {
  #content-5 .info-box {
    padding-right: 80px;
    padding-bottom: 50px;
  }
}
#content-5 .title {
  height: 60px;
}

#content-dl {
  padding: 0px 20px;
  background-image: url("../assets/images/dl_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 15px;
}
@media (max-width: 850px) {
  #content-dl {
    font-size: 10px;
  }
}
#content-dl .dl-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: auto;
}
@media (max-width: 850px) {
  #content-dl .dl-logo {
    height: 80px;
  }
}
#content-dl .dl-bg {
  height: 100%;
  width: auto;
}
#content-dl .column {
  position: relative;
  justify-content: center;
  margin: 0 80px;
}
@media (max-width: 850px) {
  #content-dl .column {
    margin: 0 40px;
  }
}
#content-dl h1 {
  font-weight: 300;
}
#content-dl p {
  line-height: 1.2;
}
#content-dl .paragraph {
  width: 400px;
}
@media (max-width: 850px) {
  #content-dl .paragraph {
    width: 300px;
  }
}
#content-dl .download {
  background-image: url("../assets/images/dl_bg_small.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  padding: 130px 400px 30px 300px;
}
@media (max-width: 850px) {
  #content-dl .download {
    padding: 20px 300px 15px 150px;
  }
}
#content-dl .download > .row {
  margin-bottom: 20px;
}

#content-org {
  padding-left: 0 200px 0 150px;
}
@media (max-width: 850px) {
  #content-org {
    padding-left: 0 150px 0 70px;
  }
}
#content-org .flex-fill {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
#content-org .app-info {
  position: relative;
  height: 85.17%;
}
#content-org .app-info img {
  position: relative;
  height: 100%;
  width: auto;
}
#content-org .app-info .row {
  align-items: center;
  margin: 5px 0;
}
#content-org .app-info p {
  color: white;
  font-size: 20px;
}
@media (max-width: 850px) {
  #content-org .app-info p {
    font-size: 14px;
  }
}
#content-org .mountain {
  position: relative;
  height: 85.17%;
}
#content-org .mountain img {
  height: 100%;
  width: auto;
}
#content-org .org {
  color: white;
  font-size: 14px;
}
#content-org .org-wrapper {
  height: 85.17%;
  display: flex;
  align-items: center;
}

.download {
  font-size: 25px;
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 850px) {
  .download {
    font-size: 14px;
  }
}
.download .download-button {
  margin: 0 2px;
  width: 150px;
  height: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 850px) {
  .download .download-button {
    width: 80px;
    height: 24px;
  }
}
.download .download-ios {
  background-image: url("../assets/images/download_android.png");
}
.download .download-android {
  background-image: url("../assets/images/download_ios.png");
}
.download .icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 850px) {
  .download .icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
  }
}
.download .instagram-icon {
  background-image: url("../assets/icons/icon-instagram.png");
}
.download .facebook-icon {
  background-image: url("../assets/icons/icon-facebook.png");
}
.download a {
  color: white;
  text-decoration: unset;
  font-size: 20px;
}
@media (max-width: 850px) {
  .download a {
    font-size: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
