@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-Regular.ttf");
}
html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Noto Serif JP", serif;
}

#root {
  position: relative;
}

div {
  box-sizing: border-box;
  flex-shrink: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.isClick {
  cursor: pointer;
}

#cover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: inset 60px 0 120px rgba(0, 0, 0, 0.2), inset -60px 0 120px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  opacity: 1;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}
#cover #rotate {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  top: 25%;
}
@media (max-width: 850px) {
  #cover #rotate {
    font-size: 11px;
  }
}
@media (orientation: landscape) {
  #cover #rotate {
    display: none;
  }
}
#cover #rotate img {
  width: 40px;
  height: auto;
  margin-bottom: 5px;
}
@media (max-width: 850px) {
  #cover #rotate img {
    height: auto;
    width: 18px;
  }
}
#cover .loading-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 25%;
}

.is-landscape #cover {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

#intro {
  position: relative;
  flex-shrink: 0;
  width: 1000px;
  height: 100%;
  z-index: 1;
  padding-left: 220px;
}
@media (max-width: 850px) {
  #intro {
    width: 400px;
    padding-left: 80px;
  }
}
#intro p {
  position: absolute;
  top: 35%;
  right: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 1s;
  font-size: 22px;
}
@media (max-width: 850px) {
  #intro p {
    right: 5px;
    font-size: 10px;
  }
}
#intro p h1 {
  font-size: 1.8em;
  margin-top: 20px;
}
@media (max-width: 850px) {
  #intro p h1 {
    margin-top: 15px;
  }
}
#intro .rays {
  position: absolute;
  bottom: -140px;
  right: 120px;
  width: 180px;
  height: auto;
}
@media (max-width: 850px) {
  #intro .rays {
    width: 80px;
    bottom: -60px;
    right: 60px;
  }
}

.is-init #intro p {
  opacity: 1;
}

#banner {
  position: absolute;
  text-align: end;
  top: 30vh;
  left: 0;
  width: 100vw;
}
#banner img {
  width: 80%;
  height: auto;
}

.is-init #banner {
  width: 100%;
  top: 10%;
  transition: all 0.7s ease-in-out 0.8s;
}

#gallery-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  background-image: url("../assets/images/bg-tile.jpg");
  background-size: auto 100%;
  background-repeat: repeat-x;
}

#scroll-content {
  position: relative;
  height: 100%;
  display: inline-flex;
  transition: padding-right 0.5s ease-in-out;
}
#scroll-content #bg-start {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#scroll-content #bg-start img {
  height: 100%;
  width: auto;
}

#overlay {
  opacity: 0;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out 2.5s;
}
#overlay .human {
  opacity: 0.5;
  position: absolute;
}
#overlay .human-1 {
  bottom: 3vh;
  left: 20vw;
  height: 300px;
  width: auto;
}
@media (max-width: 850px) {
  #overlay .human-1 {
    height: 130px;
  }
}
#overlay .human-2 {
  bottom: 5vh;
  left: 2000px;
  height: 300px;
  width: auto;
  transition: opacity 0.5s ease-in-out 2s;
}
@media (max-width: 850px) {
  #overlay .human-2 {
    left: 800px;
    height: 150px;
  }
}
#overlay .human-3 {
  bottom: 10vh;
  left: 3500px;
  height: 300px;
  width: auto;
}
@media (max-width: 850px) {
  #overlay .human-3 {
    left: 1700px;
    height: 130px;
  }
}

.is-landscape #overlay {
  opacity: 1;
}

.content-container {
  flex-shrink: 0;
  position: relative;
  height: 100%;
  pointer-events: none;
  display: inline-flex;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  padding: 50px 20px 0 20px;
}
@media (max-width: 850px) {
  .content-container {
    padding: 8px 10px 0 10px;
  }
}
.content-container .title {
  position: relative;
}
.content-container .title img {
  height: 120px;
  width: auto;
}
@media (max-width: 850px) {
  .content-container .title img {
    height: 50px;
  }
}

.is-opened .content-container {
  pointer-events: unset;
  opacity: 1;
}

.parallax-element {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
}
.parallax-element.animated {
  opacity: 1;
  pointer-events: unset;
}

.artist-photo-wrapper {
  flex-shrink: 0;
  position: relative;
  margin-top: 10vh;
  opacity: 0;
}
@media (max-width: 850px) {
  .artist-photo-wrapper {
    margin-top: 10vh;
  }
}
.artist-photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: object-position 0.5s ease-in-out;
}
.artist-photo-wrapper .artist-photo {
  width: 160px;
  height: 400px;
  box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.25);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, transform 1s ease-in-out;
}
@media (max-width: 850px) {
  .artist-photo-wrapper .artist-photo {
    width: 80px;
    height: 200px;
  }
}
.artist-photo-wrapper .photo-credit-text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.artist-photo-wrapper .artist-name {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.artist-photo-wrapper#artist-photo-1 {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out 1.2s;
  width: 400px;
  height: 430px;
}
@media (max-width: 850px) {
  .artist-photo-wrapper#artist-photo-1 {
    width: 176px;
    height: 190px;
  }
}
.artist-photo-wrapper#artist-photo-1 .artist-photo img {
  object-position: 43% 0%;
}
.artist-photo-wrapper#artist-photo-1 .artist-name {
  float: right;
}
.artist-photo-wrapper#artist-photo-2 {
  width: 400px;
  height: 464px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out 1.4s;
  transform: translateY(35px);
}
@media (max-width: 850px) {
  .artist-photo-wrapper#artist-photo-2 {
    width: 173px;
    height: 200px;
  }
}
@media (max-width: 850px) {
  .artist-photo-wrapper#artist-photo-2 {
    transform: translateY(20px);
  }
}
.artist-photo-wrapper#artist-photo-3 {
  width: 400px;
  height: 500px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out 1.6s;
}
@media (max-width: 850px) {
  .artist-photo-wrapper#artist-photo-3 {
    width: 160px;
    height: 200px;
  }
}
.artist-photo-wrapper#artist-photo-4 {
  width: 400px;
  height: 493px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out 1.8s;
  transform: translateY(35px);
}
@media (max-width: 850px) {
  .artist-photo-wrapper#artist-photo-4 {
    width: 163px;
    height: 200px;
  }
}
@media (max-width: 850px) {
  .artist-photo-wrapper#artist-photo-4 {
    transform: translateY(20px);
  }
}

.is-init .artist-photo-wrapper {
  opacity: 1;
}

.is-opened .artist-photo-wrapper {
  transform: unset !important;
}
.is-opened .artist-photo-wrapper .artist-photo {
  width: 100%;
  height: 100%;
  transform: unset !important;
}
.is-opened .artist-photo-wrapper .artist-photo img {
  object-position: 50% 50% !important;
}
.is-opened .artist-photo-wrapper .photo-credit-text {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.6s;
}
.is-opened .artist-photo-wrapper .artist-name {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.6s;
}

.is-opened #artist-photo-2 .artist-name {
  position: absolute;
  top: -45px;
}
@media (max-width: 850px) {
  .is-opened #artist-photo-2 .artist-name {
    top: -25px;
  }
}

.is-opened #artist-photo-3 .artist-name {
  margin-top: 20px;
  float: right;
}
@media (max-width: 850px) {
  .is-opened #artist-photo-3 .artist-name {
    margin-top: 0px;
  }
}

.is-opened #artist-photo-4 .artist-name {
  position: absolute;
  top: -45px;
  left: 0;
}
@media (max-width: 850px) {
  .is-opened #artist-photo-4 .artist-name {
    top: -25px;
  }
}

.lines-source {
  position: relative;
}
.lines-source .line {
  position: absolute;
  width: 0;
  opacity: 0;
  transition: opacity 1.5s ease-in-out, width 1.5s ease-in-out;
}
.lines-source .line.is-drawn {
  width: 100vw;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, width 1.5s ease-in-out;
}

.video-wrapper {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 276px;
  height: 500px;
}
@media (max-width: 850px) {
  .video-wrapper {
    height: 230px;
    width: 125px;
  }
}
.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-credit-text {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
}
@media (max-width: 850px) {
  .story-credit-text {
    font-size: 6px;
    margin-bottom: 3px;
  }
}

.photo-credit-text {
  color: #707070;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
}
@media (max-width: 850px) {
  .photo-credit-text {
    font-size: 8px;
  }
}

.artist-name {
  color: black;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
}
@media (max-width: 850px) {
  .artist-name {
    font-size: 12px;
  }
}

.photo {
  display: block;
  width: auto;
  height: 120px;
  margin: 0 15px 10px 0;
  cursor: pointer;
}
@media (max-width: 850px) {
  .photo {
    height: 50px;
    margin: 0 5px 5px 0;
  }
}
.photo.is-horizontal {
  width: 120px;
  height: auto;
}
@media (max-width: 850px) {
  .photo.is-horizontal {
    width: 50px;
  }
}

.info-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 15px 20px;
}
@media (max-width: 850px) {
  .info-box {
    padding: 0px 12px;
  }
}
.info-box p {
  font-size: 18px;
  line-height: 1.4;
  margin: 8px 0;
}
@media (max-width: 850px) {
  .info-box p {
    margin: 4px 0;
    font-size: 8px;
  }
}

.learn-more {
  font-family: "Avenir", sans-serif;
  display: inline-block;
  color: white;
  background: linear-gradient(to left, #ED1C24FF 50%, #ED1C2400 100%);
  font-size: 16px;
  padding: 4px 33px;
  cursor: pointer;
}
@media (max-width: 850px) {
  .learn-more {
    font-size: 9px;
    padding: 2px 15px;
  }
}

.sep-wrapper {
  height: 100%;
  width: 40px;
}
.sep-wrapper .sep {
  border-left: 2px solid black;
  position: absolute;
  width: 40px;
  height: 100%;
  bottom: 0;
}
.sep-wrapper .sep .sep-circle {
  display: flex;
  position: absolute;
  top: -12px;
  left: -8px;
}
.sep-wrapper .sep .sep-circle div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
}
@media (max-width: 850px) {
  .sep-wrapper .sep .sep-circle div {
    width: 16px;
    height: 16px;
    border-radius: 8px;
  }
}
.sep-wrapper.white .sep {
  border-left: 2px solid white;
}
.sep-wrapper.white .sep-circle div {
  background-color: white;
}

.light-box {
  z-index: 999;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 90;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, background-color 0s ease-in-out;
  background-color: #EEEEEE;
}
.light-box.is-visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out, background-color 0.8s ease-in-out 0.7s;
  background-color: transparent;
}
.light-box.is-visible .light-box-background {
  transition: opacity 0.8s ease-in-out 0.3s;
  opacity: 1;
}
.light-box .title {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.4;
}
@media (max-width: 850px) {
  .light-box .title {
    font-size: 19px;
  }
}
.light-box .light-box-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  opacity: 0;
  transition: unset;
  z-index: -1;
}
@media (max-width: 850px) {
  .light-box .light-box-background {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
  }
}
.light-box .light-box-inner {
  width: 100%;
  height: 100%;
  padding: 50px 100px;
}
@media (max-width: 850px) {
  .light-box .light-box-inner {
    padding: 20px 40px;
  }
}
.light-box .light-box-close-button {
  position: absolute;
  cursor: pointer;
  font-size: 38px;
  top: 15px;
  right: 15px;
}
@media (max-width: 850px) {
  .light-box .light-box-close-button {
    font-size: 25px;
    top: 8px;
    right: 8px;
  }
}

.story {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.story .row {
  flex: 1;
}
.story .title {
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  height: 100px;
  margin-bottom: 30px;
}
@media (max-width: 850px) {
  .story .title {
    margin-bottom: 10px;
    height: 50px;
  }
}
.story p {
  margin: 0 0 38px 0;
  font-size: 17px;
  max-width: 400px;
}
@media (max-width: 850px) {
  .story p {
    font-size: 10px;
    max-width: 220px;
    margin: 0 0 18px 0;
  }
}
.story p h1 {
  margin: 0;
  font-size: 1.3em;
}
.story .story-image {
  height: 100%;
  width: 40%;
  object-fit: contain;
  object-position: right center;
}
.story .story-content {
  margin-left: 40px;
  margin-top: 300px;
  padding-right: 300px;
}
@media (max-width: 850px) {
  .story .story-content {
    margin-top: 80px;
    margin-left: 25px;
    padding-right: 100px;
  }
}
.story.full .story-image {
  width: auto;
  max-width: 55%;
  object-position: left top;
}
.story.full .story-content {
  margin-top: 0;
}
.story .label {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  margin-top: 60px;
  margin-bottom: 10px;
}
@media (max-width: 850px) {
  .story .label {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
.story .sight-logo {
  height: 60px;
  width: auto;
}
@media (max-width: 850px) {
  .story .sight-logo {
    height: 25px;
  }
}
.story .audio-icon {
  height: 26px;
  margin-left: 10px;
  width: auto;
}
@media (max-width: 850px) {
  .story .audio-icon {
    height: 18px;
    margin-left: 5px;
  }
}
.story .arrow-icon {
  position: absolute;
  top: 50%;
  height: 40px;
  width: auto;
  cursor: pointer;
}
@media (max-width: 850px) {
  .story .arrow-icon {
    height: 20px;
  }
}
.story .arrow-icon.arrow-icon-left {
  left: 20px;
  transform: translateY(-50%) scaleX(-1);
}
.story .arrow-icon.arrow-icon-right {
  right: 20px;
  transform: translateY(-50%);
}

.audio-player {
  display: flex;
  align-items: center;
  transform: translateX(-6px);
}
@media (max-width: 850px) {
  .audio-player {
    transform: translateX(-3px);
  }
}
.audio-player .play-button {
  width: 55px;
  height: 55px;
  font-size: 55px;
  cursor: pointer;
}
@media (max-width: 850px) {
  .audio-player .play-button {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
}
.audio-player .play-button svg {
  position: absolute;
}
.audio-player .audio-time {
  font-size: 16px;
  color: #5c5454;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0 11px 0 6px;
}
@media (max-width: 850px) {
  .audio-player .audio-time {
    font-size: 10px;
    margin: 0 8px 0 4px;
  }
}
.audio-player .audio-track {
  position: relative;
  display: flex;
  align-items: center;
  width: 220px;
}
@media (max-width: 850px) {
  .audio-player .audio-track {
    width: 100px;
  }
}
.audio-player .audio-progress {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  background-color: black;
  width: 0;
  height: 11px;
}
@media (max-width: 850px) {
  .audio-player .audio-progress {
    height: 8px;
  }
}
.audio-player .audio-slider {
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
  height: 6px;
  width: 100%;
  background-color: #a1a1a1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.audio-player .audio-slider:hover {
  opacity: 1;
}
.audio-player .audio-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 10px;
  height: 11px;
  background-color: transparent;
  cursor: pointer;
}
.audio-player .audio-slider::-moz-range-thumb {
  border: none;
  width: 10px;
  height: 11px;
  background-color: transparent;
  cursor: pointer;
}

.audio-button-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
}
@media (max-width: 850px) {
  .audio-button-container {
    font-size: 9px;
    padding: 5px;
  }
}
.audio-button-container .audio-button-label {
  font-family: "Noto Sans TC", sans-serif;
}
.audio-button-container .audio-button-icon {
  height: 35px;
  margin-top: 5px;
  width: auto;
}
@media (max-width: 850px) {
  .audio-button-container .audio-button-icon {
    height: 15px;
    margin-top: 2px;
  }
}

#content-1 .title {
  margin-top: 30px;
}
@media (max-width: 850px) {
  #content-1 .title {
    margin-top: 3vh;
  }
}
@media (max-width: 850px) {
  #content-1 .title img {
    height: 35px;
  }
}
#content-1 .story-credit-text {
  margin-top: -12spx;
}
@media (max-width: 850px) {
  #content-1 .story-credit-text {
    margin-top: -8px;
  }
}
#content-1 .info-box {
  margin-top: -25px;
}
@media (max-width: 850px) {
  #content-1 .info-box {
    margin-top: -10px;
  }
}
#content-1 .info-box img {
  position: absolute;
  width: auto;
  height: 250px;
  z-index: 100;
}
@media (max-width: 850px) {
  #content-1 .info-box img {
    height: 100px;
  }
}
#content-1 .info-box .row > p {
  margin-right: 40px;
  margin-bottom: 50px;
}
@media (max-width: 850px) {
  #content-1 .info-box .row > p {
    margin-right: 20px;
    margin-bottom: 5px;
  }
}
#content-1 .video-wrapper {
  margin-left: 5px;
}
@media (max-width: 850px) {
  #content-1 .video-wrapper {
    margin-left: -50px;
  }
}

#content-2 .title {
  z-index: 10;
  margin-top: 15px;
}
@media (max-width: 850px) {
  #content-2 .title {
    margin-top: 5px;
  }
}
@media (max-width: 850px) {
  #content-2 .title img {
    height: 38px;
  }
}
#content-2 .column > div:nth-child(2) {
  margin-left: 50px;
}
@media (max-width: 850px) {
  #content-2 .column > div:nth-child(2) {
    margin-left: 10px;
  }
}
#content-2 .story-credit-text {
  position: relative;
  z-index: 10;
}
@media (max-width: 850px) {
  #content-2 .story-credit-text {
    margin-top: -10px;
  }
}
#content-2 .info-box {
  margin-top: -115px;
  padding: 110px 70px 30px 40px;
}
@media (max-width: 850px) {
  #content-2 .info-box {
    margin-top: -80px;
    padding: 80px 30px 10px 20px;
  }
}
#content-2 .info-box .row > p {
  margin-right: 40px;
  margin-bottom: 50px;
}
@media (max-width: 850px) {
  #content-2 .info-box .row > p {
    margin-right: 20px;
    margin-bottom: 5px;
  }
}
#content-2 .info-box .feature {
  min-width: 250px;
  position: absolute;
  left: 400px;
}
@media (max-width: 850px) {
  #content-2 .info-box .feature {
    min-width: 150px;
    left: 200px;
    top: -15px;
  }
}
#content-2 .info-box .feature img {
  position: absolute;
  width: auto;
  height: 250px;
  z-index: 100;
}
@media (max-width: 850px) {
  #content-2 .info-box .feature img {
    height: 100px;
  }
}
#content-2 .video-wrapper {
  margin-left: 30px;
}
@media (max-width: 850px) {
  #content-2 .video-wrapper {
    margin-left: 20px;
  }
}

#content-3 .title {
  margin-top: 15px;
  margin-left: 60px;
}
@media (max-width: 850px) {
  #content-3 .title {
    margin-top: 3px;
    margin-left: 35px;
  }
}
#content-3 .title img {
  height: 98px;
}
@media (max-width: 850px) {
  #content-3 .title img {
    height: 40px;
  }
}
#content-3 .info-box {
  margin-left: 25px;
  margin-top: 20px;
}
@media (max-width: 850px) {
  #content-3 .info-box {
    margin-left: 15px;
    margin-top: 8px;
  }
}
#content-3 .info-box .story-credit-text {
  font-size: 12px;
  transform: translateX(-15px);
}
@media (max-width: 850px) {
  #content-3 .info-box .story-credit-text {
    font-size: 7px;
    transform: translateX(-5px);
  }
}
#content-3 .info-box .photo-container {
  margin-left: 100px;
  transform: translateY(-60px);
}
@media (max-width: 850px) {
  #content-3 .info-box .photo-container {
    margin-left: 60px;
    transform: translateY(-30px);
  }
}
#content-3 .info-box .photo-container-1 .photo {
  margin-left: auto;
}
#content-3 .info-box .photo-container-2 {
  transform: translateY(-50px);
}
@media (max-width: 850px) {
  #content-3 .info-box .photo-container-2 {
    transform: translateY(-20px);
  }
}
#content-3 .info-box .audio-button-container {
  margin-top: auto;
  margin-bottom: 80px;
  margin-left: -40px;
  margin-right: 40px;
}
@media (max-width: 850px) {
  #content-3 .info-box .audio-button-container {
    margin-bottom: 40px;
    margin-left: -20px;
    margin-right: 10px;
  }
}
#content-3 .info-box .feature {
  position: absolute;
  left: 300px;
  bottom: -200px;
}
@media (max-width: 850px) {
  #content-3 .info-box .feature {
    left: 150px;
    bottom: -35px;
  }
}
#content-3 .info-box .feature p {
  margin: 0;
}
#content-3 .info-box .feature .feature-photo {
  width: auto;
  height: 250px;
  z-index: 100;
}
@media (max-width: 850px) {
  #content-3 .info-box .feature .feature-photo {
    height: 80px;
  }
}
#content-3 .info-box .feature .audio-button-container {
  margin: unset;
}

@media (max-width: 850px) {
  #content-4 .title img {
    height: 50px;
  }
}
#content-4 .story-credit-text {
  font-size: 12px;
  transform: translateY(-8px);
}
@media (max-width: 850px) {
  #content-4 .story-credit-text {
    transform: translateY(-4px);
    font-size: 6px;
  }
}
#content-4 .row-2 {
  margin-left: 80px;
}
@media (max-width: 850px) {
  #content-4 .row-2 {
    margin-left: 40px;
  }
}
#content-4 .info-box {
  padding-bottom: 40px;
}
@media (max-width: 850px) {
  #content-4 .info-box {
    padding-bottom: 15px;
  }
}
#content-4 .info-box .feature {
  margin-top: -30px;
  height: 10px;
}
@media (max-width: 850px) {
  #content-4 .info-box .feature {
    margin-top: -15px;
  }
}
#content-4 .info-box .feature img {
  width: auto;
  height: 350px;
}
@media (max-width: 850px) {
  #content-4 .info-box .feature img {
    height: 140px;
  }
}
#content-4 .info-box .audio-button-container {
  margin-top: auto;
}

#content-dl {
  padding: 0px 20px;
  background-image: url("../assets/images/dl-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 15px;
}
@media (max-width: 850px) {
  #content-dl {
    font-size: 9px;
  }
}
#content-dl .sep-outer {
  position: absolute;
  height: 70%;
  bottom: 0;
  z-index: 99;
  left: 80px;
}
@media (max-width: 850px) {
  #content-dl .sep-outer {
    left: 50px;
  }
}
#content-dl .dl-logo {
  height: 80px;
  width: auto;
}
@media (max-width: 850px) {
  #content-dl .dl-logo {
    height: 50px;
  }
}
#content-dl .dl-bg {
  height: 100%;
  width: auto;
}
#content-dl .column {
  position: relative;
  justify-content: center;
  margin: 0 80px;
}
@media (max-width: 850px) {
  #content-dl .column {
    margin: 0 40px;
  }
}
#content-dl h1 {
  font-weight: 300;
}
#content-dl p {
  line-height: 1.5;
}
@media (max-width: 850px) {
  #content-dl p {
    line-height: 1.1;
  }
}
#content-dl .paragraph {
  width: 400px;
}
@media (max-width: 850px) {
  #content-dl .paragraph {
    width: 300px;
  }
}
#content-dl .moment-of-purpose {
  font-size: 18px;
}
#content-dl .moment-of-purpose img {
  width: 600px;
  height: auto;
  transform: translateX(50px);
  margin-bottom: 40px;
}
@media (max-width: 850px) {
  #content-dl .moment-of-purpose img {
    width: 270px;
    margin-bottom: 20px;
    transform: translateX(50px);
  }
}
@media (max-width: 850px) {
  #content-dl .moment-of-purpose {
    font-size: 10px;
  }
}
#content-dl .moment-of-purpose h1 {
  margin: 1.3em 0 0.5em 0;
  font-weight: bold;
}
#content-dl .moment-of-purpose h5 {
  margin: 0;
  font-weight: 400;
  font-size: 1.3em;
}

#content-dbs {
  padding-left: 180px;
  padding-right: 400px;
  padding-top: 70px;
}
@media (max-width: 850px) {
  #content-dbs {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 180px;
  }
}
#content-dbs .title img {
  height: 100px;
}
@media (max-width: 850px) {
  #content-dbs .title img {
    height: 40px;
  }
}
#content-dbs .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 95%;
  width: 730px;
  object-fit: cover;
}
@media (max-width: 850px) {
  #content-dbs .bg {
    width: 380px;
  }
}
#content-dbs .dbs-feature {
  position: relative;
  margin-right: 55px;
}
@media (max-width: 850px) {
  #content-dbs .dbs-feature {
    margin-right: 30px;
  }
}
#content-dbs .dbs-feature .dbs-feature-img img {
  height: 360px;
  width: auto;
}
@media (max-width: 850px) {
  #content-dbs .dbs-feature .dbs-feature-img img {
    height: 180px;
  }
}
#content-dbs .dbs-feature p {
  color: white;
  font-size: 24px;
  margin: 12px 0;
}
@media (max-width: 850px) {
  #content-dbs .dbs-feature p {
    font-size: 14px;
    margin: 6px 0;
  }
}
#content-dbs .info-box {
  margin-top: 60px;
  transform: translateX(-80px);
  padding: 15px 80px;
}
@media (max-width: 850px) {
  #content-dbs .info-box {
    margin-top: 15px;
    transform: translateX(-50px);
    padding: 10px 50px;
  }
}
#content-dbs .info-box p {
  width: 550px;
}
@media (max-width: 850px) {
  #content-dbs .info-box p {
    width: 280px;
  }
}
#content-dbs .row {
  position: relative;
}
#content-dbs .contact-us p {
  font-size: 25px;
}
@media (max-width: 850px) {
  #content-dbs .contact-us p {
    font-size: 12px;
  }
}
#content-dbs .contact-us a {
  color: black;
}

#content-dbs-album {
  padding-top: 20px;
  font-size: 80px;
}
@media (max-width: 850px) {
  #content-dbs-album {
    font-size: 30px;
    padding-top: 3px;
  }
}
#content-dbs-album .title {
  line-height: 1.7;
  color: white;
  font-size: 20px;
  margin-top: -15px;
}
@media (max-width: 850px) {
  #content-dbs-album .title {
    font-size: 8px;
    margin-top: -10px;
  }
}
#content-dbs-album .title h1 {
  color: black;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 850px) {
  #content-dbs-album .title h1 {
    font-size: 10px;
  }
}
#content-dbs-album .title a {
  text-decoration: unset;
}
#content-dbs-album .photos-container {
  position: relative;
}
#content-dbs-album .dbs-banner {
  position: relative;
  height: 100px;
  width: auto;
}
@media (max-width: 850px) {
  #content-dbs-album .dbs-banner {
    height: 46px;
  }
}
#content-dbs-album .photo {
  cursor: unset;
  height: auto;
  width: auto;
  margin: 15px 10px;
}
@media (max-width: 850px) {
  #content-dbs-album .photo {
    margin: 8px 4px;
  }
}
#content-dbs-album .red-gradient {
  position: absolute;
  top: 55px;
  left: -70px;
  width: 1800px;
  height: 600px;
}
@media (max-width: 850px) {
  #content-dbs-album .red-gradient {
    top: 12px;
    left: -30px;
    width: 900px;
    height: 300px;
  }
}
#content-dbs-album .caption {
  font-size: 14px;
}
@media (max-width: 850px) {
  #content-dbs-album .caption {
    font-size: 8px;
  }
}
#content-dbs-album .row {
  pointer-events: none;
}
#content-dbs-album a {
  pointer-events: auto;
}

#content-org {
  padding-left: 0 200px 0 150px;
}
@media (max-width: 850px) {
  #content-org {
    padding-left: 0 150px 0 70px;
  }
}
#content-org .flex-fill {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
#content-org .app-info {
  position: relative;
  height: 85.17%;
}
#content-org .app-info .org {
  color: white;
}
#content-org .app-info img {
  position: relative;
  height: 100%;
  width: auto;
}
#content-org .app-info .row {
  align-items: center;
  margin: 5px 0;
}
#content-org .app-info p {
  color: white;
  font-size: 20px;
}
@media (max-width: 850px) {
  #content-org .app-info p {
    font-size: 14px;
  }
}
#content-org .app-info .download {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content-org .app-info .download p {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 25px;
  margin-bottom: 8px;
}
@media (max-width: 850px) {
  #content-org .app-info .download p {
    font-size: 12px;
    margin-bottom: 0px;
  }
}
#content-org .app-info .download .download-button {
  margin: 0 2px;
  width: 150px;
  height: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 850px) {
  #content-org .app-info .download .download-button {
    width: 70px;
    height: 24px;
  }
}
#content-org .app-info .download .download-ios {
  background-image: url("../assets/images/download-ios.png");
}
#content-org .app-info .download .download-android {
  background-image: url("../assets/images/download-android.png");
}
#content-org .app-info .download a {
  color: white;
  text-decoration: unset;
  font-size: 20px;
}
@media (max-width: 850px) {
  #content-org .app-info .download a {
    font-size: 10px;
  }
}
#content-org .sight {
  position: relative;
  height: 85.17%;
}
#content-org .sight .org {
  color: white;
}
#content-org .sight img {
  height: 100%;
  width: auto;
}
#content-org .org {
  color: black;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  --offset: -300;
}
@media (max-width: 850px) {
  #content-org .org {
    width: 200px;
    --offset: -250;
  }
}
@media (max-width: 850px) {
  #content-org .org {
    font-size: 10px;
  }
}
#content-org .org .org-logo-wrapper {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 850px) {
  #content-org .org .org-logo-wrapper {
    height: 90px;
  }
}
#content-org .org .org-logo-wrapper img {
  height: auto;
  width: auto;
}
@media (max-width: 850px) {
  #content-org .org .dl-text {
    margin-top: -15px;
  }
}
#content-org .org-wrapper {
  height: 85.17%;
  display: flex;
  align-items: center;
}

#content-end {
  padding: 0 400px 0 200px;
  align-items: center;
  font-size: 35px;
}
@media (max-width: 850px) {
  #content-end {
    font-size: 20px;
    padding: 0 300px 0 100px;
  }
}
#content-end > div {
  margin-left: -50px;
}
@media (max-width: 850px) {
  #content-end > div {
    margin-left: -30px;
  }
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
@media (max-width: 850px) {
  .loading {
    transform: scale(0.6);
  }
}

.loading div {
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.loading div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #AAAAAA;
  margin: -4px 0 0 -4px;
}

.loading div:nth-child(1) {
  animation-delay: -0.036s;
}

.loading div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.loading div:nth-child(2) {
  animation-delay: -0.072s;
}

.loading div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.loading div:nth-child(3) {
  animation-delay: -0.108s;
}

.loading div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.loading div:nth-child(4) {
  animation-delay: -0.144s;
}

.loading div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.loading div:nth-child(5) {
  animation-delay: -0.18s;
}

.loading div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.loading div:nth-child(6) {
  animation-delay: -0.216s;
}

.loading div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.loading div:nth-child(7) {
  animation-delay: -0.252s;
}

.loading div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.loading div:nth-child(8) {
  animation-delay: -0.288s;
}

.loading div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
