@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-Book.ttf");
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{850px}) {
    @content;
  }
}

// @mixin tablet {
//   @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
//     @content;
//   }
// }

// @mixin desktop {
//   @media (min-width: #{$desktop-width}) {
//     @content;
//   }
// }


html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Noto Serif JP', serif;
}

#root {
  position: relative;
}

div {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
}

#cover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow:
    inset 60px 0 120px rgba(0,0,0,0.2),
    inset -60px 0 120px rgba(0,0,0,0.2); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  opacity: 1;
  z-index: 99;
  transition: opacity 0.5s ease-in-out ;
}

.isLandscape #cover {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out 1s;
}

#intro {
  position: relative;
  width: 50vw;
  height: 100%;
  z-index: 1;
  padding-left: 220px;
  @include mobile {
    padding-left: 80px;
  }
  .infoBox {
    position: absolute;
    top: 35%;
    height: 40%;
    width: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 2.5s;
    @include mobile {
      width: 70%;
      height: unset;
    }
  }
}

.isLandscape #intro .infoBox {
  opacity: 1;
}

#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease-in-out 2s;
  img {
    position: absolute;
    right: 0;
    width: 80%;
    height: auto;
  }
}

.isLandscape #banner{
  width: 100%;
  height: 25%;
  top: 10%;
}

#galleryContainer {
  position: relative;
  height: 100%;
  overflow-y: hidden;
}


#bgFirst {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  img {
    height: 100%;
    width: auto;
  }
}

#scrollContent {
  position: relative;
  height: 100%;
  flex-shrink: 0;
  display: inline-flex;
  background-image: url("../assets/images/bgTile.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  padding-right: 30vw;
  transition: padding-right 0.5s ease-in-out;
  & > div {
    flex-shrink: 0;
  }
}

.isOpened #scrollContent {
  // padding-right: 0;
}

.contentContainer {
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  width: 0;
  transition: width 1s ease-in-out, opacity 1s ease-in-out;
  padding-top: 50px;
  @include mobile {
    padding-top: 8px;
  }
  & > div {
    height: 100%;
    display: inline-flex;
    padding: 0 20px;
  }
}

.isOpened .contentContainer {
  pointer-events: unset;
  opacity: 1;
  overflow: unset;
  width: var(--contentWidth);
}

.parallaxElement {
  opacity: 0;
  &.animated {
    opacity: 1;
  }
  transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
}

.featureImage {
  position: relative;
  width: 160px;
  height: 400px;
  object-fit: cover;
  margin-top: 10vh;
  opacity: 0;
  box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.25);
  &:nth-of-type(odd) {
    transform: translateY(-15px);
    @include mobile {
      transform: translateY(-10px);
    }
  }
  &:nth-of-type(even) {
    transform: translateY(15px);
    @include mobile {
      transform: translateY(10px);
    }
  }
  @include mobile {
    width: 90px;
    height: 225px;
  }
}

@for $i from 0 to 4 {
  .featureImage:nth-of-type(#{$i + 1}) {
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, transform 0.5s ease-in-out, opacity 0.5s ease-in-out ( $i * 0.2s + 2.4s );
  }
}

.isLandscape .featureImage {
  opacity: 1;
}

.isOpened .featureImage {
  opacity: 1;
  width: 450px;
  height: 360px;
  transform: unset;
  @include mobile {
    width: 250px;
    height: 200px;
  }
}

.isOpened .featureImage:nth-of-type(1) {
  width: 340px;
  height: 400px;
  @include mobile {
    width: 170px;
    height: 200px;
  }
}

.isOpened .featureImage:nth-of-type(3) {
  transform: translateY(50px);
  width: 240px;
  height: 400px;
  @include mobile {
    transform: translateY(10px);
    width: 168px;
    height: 230px;
  }
}

.verticalMargin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.horizontalMargin {
  margin-right: 20px;
  margin-left: 20px;
}

.videoContainer {
  height: 230px;
  @include mobile {
    height: 95px;
  }
  video {
    width: auto;
    height: 100%;
  }
}

.videoContainer.largeVideo {
  height: 420px;
  @include mobile {
    height: 200px;
  }
}

.title {
  font-size: 35px;
  margin-bottom: 30px;
  @include mobile {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.infoBox {
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  // filter: brightness(1.5) saturate(140%);
  padding: 20px;
  @include mobile {
    padding: 5px 15px;
  }
  p {
    font-size: 18px;
    @include mobile {
      margin: 4px 0;
      font-size: 12px;
    }
  }
  img {
    width: auto;
    height: 100px;
  }
}

.learnMore {
  display: inline-block;
  font-family: "Avenir";
  color: white;
  background: linear-gradient(to left, #030303FF 0%, #29292966 80%, #56565644 100%);
  font-size: 16px;
  padding: 5px 30px;
  cursor: pointer;
  @include mobile {
    font-size: 13px;
    padding: 3px 12px;
  }
}

.redBorderImage {
  border: 1px solid red;
  width: 150px;
  height: 150px;
  margin: 0 15px 10px 0;
  object-fit: cover;
  @include mobile {
    width: 70px;
    height: 70px;
  }
}

.squareImage {
  width: 110px;
  height: 110px;
  margin: 0 15px 10px 0;
  object-fit: cover;
  @include mobile {
    width: 55px;
    height: 55px;
  }
}

.audio {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  bottom: 40px;
  padding: 10px;
  cursor: pointer;
}

.audioLabel {
  font-size: 14px;
  @include mobile {
    font-size: 12px;
  }
}

.audioIcon {
  background-image: url("../assets/icons/icon-audio.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  @include mobile {
    width: 30px;
    height: 30px;
  }
}

.sep {
  border-left: 2px solid black;
  height: 100%;
  width: 40px;
  position: relative;
}

.sepCircle {
  display: flex;
  position: absolute;
  top: -12px;
  left: -8px;
  div {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    @include mobile {
      width: 16px;
      height: 16px;
      border-radius: 8px;
    }
  }
}

.org {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  @include mobile {
    width: 200px;
    // transform: scale(0.5);
  }
  .logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include mobile {
      // width: 200px;
      transform: scale(0.5);
    }
  }
  #dbsLogo {
    background-image: url("../assets/images/moko_logo.png");
    height: 120px;
    width: 200px;
  }
  #warnerLogo {
    background-image: url("../assets/images/moko_logo.png");
    height: 120px;
    width: 200px;
  }
  #mokoLogo {
    background-image: url("../assets/images/moko_logo.png");
    height: 120px;
    width: 200px;
  }
  #hkgdaLogo {
    background-image: url("../assets/images/moko_logo.png");
    height: 120px;
    width: 200px;
  }
}

#content1 {
  .infoBox {
    align-self: flex-start;
    padding-right: 300px;
    @include mobile {
      padding-right: 150px;
    }
  }
}

#content3 {
  .title {
    position: absolute;
    left: -240px;
    @include mobile {
      left: -150px;
    }
  }
  .infoBox {
    align-self: flex-start;
    padding-right: 300px;
    @include mobile {
      padding-right: 150px;
    }
  }
}

#content5 {
  .heading {
    height: 60px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    @include mobile {
      height: 20px;
      font-size: 20px;
    }
    img {
      height: 100%;
      width: auto;
      margin-right: 5px;
    }
  }
  .infoBox {
    position: absolute;
    bottom: 15vh;
    right: 0;
    padding-right: 80px;
    padding-bottom: 100px;
    @include mobile {
      padding-right: 80px;
      padding-bottom: 50px;
    }
  }
  .title {
    height: 60px;
  }
}

#content6 {
  #contactUs {
    display: flex;
    justify-content: center;
    width: 800px;
    padding-top: 120px;
    @include mobile {
      padding-top: 80px;
      width: 500px;
    }
    .heading {
      color: white;
      font-size: 35px;
      @include mobile {
        font-size: 20px;
      }
      img {
        height: 35px;
        width: auto;
        margin-left: 10px;
        margin-bottom: -5px;
      }
    }
  }
  .flexFill {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  .appInfo {
    position: relative;
    height: 85.17%;
    img {
      position: relative;
      height: 100%;
      width: auto;
    }
    .icon {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include mobile {
        width: 12px;
        height: 12px;
      }
    }
    #instagramIcon {
      background-image: url("../assets/icons/icon-instagram.png");
    }
    #facebookIcon {
      background-image: url("../assets/icons/icon-facebook.png");
    }
    .row {
      align-items: center;
      margin: 5px 0;
    }
    a {
      color: white;
      text-decoration: unset;
      font-size: 20px;
      @include mobile {
        font-size: 10px;
      }
    }
    p {
      color: white;
      font-size: 20px;
      @include mobile {
        font-size: 14px;
      }
    }
    .downloadButton {
      margin: 0 2px;
      width: 150px;
      height: 44px;
      @include mobile {
        width: 80px;
        height: 24px;
      }
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    #downloadIos {
      background-image: url("../assets/images/download_android.png");
    }
    #downloadAndroid {
      background-image: url("../assets/images/download_ios.png");
    }
  }
  .mountain {
    position: relative;
    height: 85.17%;
    img {
      height: 100%;
      width: auto;
    }
  }
  .org {
    color: white;
  }
}

#content7 {
  .orgWrapper {
    height: 85.17%;
    display: flex;
    align-items: center;
  }
}
